<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <h2>{{ post.writer }}</h2>
    <h3>{{ post.updated_at }}</h3>
    <p>{{ post.content }}</p>


    <button onClick="location.href='{% url "post:post_l" %}'">목록</button><br>
    <button onClick="location.href='{% url "post:post_u" post.pk %}'">수정</button>

    <form action="{% url 'post:post_del' post.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit">삭제</button>
    </form>

</body>
</html>