<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="{% url 'post:post_u' post.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    {#    자기자신으로 Post요청보냄 절대경로 /post_update/#}

        <h2>제목:</h2><input type="text" value="{{ post.title }}" name="tit">
        <h2>작성자:</h2><input type="text" value="{{ post.writer }}" name="wri">
        <h2>내용:</h2><textarea name="con">{{ post.content }}</textarea>
        <button type="submit">작성</button>
    </form>

</body>
</html>